<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hasil Penelitian - Modul 1</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/deskripsi.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
  </head>

  <body style="background-color: #ffedca">
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <div class="container-fluid bg-primary sticky-top z-1000">
      <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-0">
          <a href="/" class="navbar-brand">
            <div class="d-flex align-items-center">
              <img
                src="../static/img/logopkl.png"
                style="background-color: white; border-radius: 50%"
                alt="Logo"
                class="logo"
                width="45"
                height="45"
              />
              <div class="mt-2">
                <h6 class="text-white mb-0">Web Hasil Visualisasi</h6>
                <h6 class="text-white">Pengolahan Modul 1</h6>
              </div>
            </div>
          </a>
          <!-- <a href="/" class="navbar-brand">
              <h1 class="text-white fw-bold d-block">
                Hasil Visualisasi<span class="text-secondary"> Pengolahan Modul 1</span>
              </h1>
            </a> -->
          <button
            type="button"
            class="navbar-toggler me-0"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse bg-transparent"
            id="navbarCollapse"
          >
            <div class="navbar-nav ms-auto mx-xl-auto p-0">
              <a href="/" class="nav-item nav-link active text-secondary"
                >Hasil Penelitian</a
              >
              <a href="/blok-iii" class="nav-item nav-link">Blok III</a>
              <a href="/blok-iv" class="nav-item nav-link">Blok IV</a>
              <a href="/blok-v" class="nav-item nav-link">Blok V</a>
              <a href="/blok-vi" class="nav-item nav-link">Blok VI</a>
              <a href="/blok-vii" class="nav-item nav-link">Blok VII</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <div class="container-fluid feature">
      <div class="container pt-0">
        <!-- </div> -->
        <div class="row g-0">
          <div class="wrap-all">
            <h2 class="display-2 mb-1 animated slideInDown text-primary mt-5">
              MODUL 1
            </h2>
            <h3 class="text-primary text-center">
              PEMANFAATAN TIK PADA SEKTOR PARIWISATA
            </h3>
            <!-- About Sanur -->
            <div class="container-fluid py-2 my-2">
              <div class="container pt-5">
                <div class="row g-5">
                  <div
                    class="col-lg-5 col-md-6 col-sm-12 wow fadeIn"
                    data-wow-delay=".3s"
                  >
                    <div class="h-100 position-relative">
                      <img
                        src="../static/img/logopkl.png"
                        class="img-fluid w-75 rounded"
                        alt=""
                        style="margin-bottom: 25%"
                      />
                      <div
                        class="position-absolute w-75"
                        style="top: 25%; left: 25%"
                      >
                        <img
                          src="../static/img/logohore.png"
                          class="img-fluid w-100 rounded"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-lg-7 col-md-6 col-sm-12 wow fadeIn"
                    data-wow-delay=".5s"
                  >
                    <h5 class="text-primary">Tentang</h5>
                    <h1 class="mb-4 text-primary">Penelitian Modul 1</h1>
                    <p class="text-justify" style="text-align: justify">
                      Penelitian ini merupakan simulasi Pengolahan Hasil Praktik
                      Kerja Lapangan (PKL) yang dilakukan oleh Subseksi
                      Pengolahan Modul 1. Penelitian ini membahas tentang
                      pemanfaatan Teknologi Informasi dan Komunikasi (TIK) pada
                      Unit Usaha Pariwisata di Kota Batu, Jawa Timur. Kota Batu
                      memiliki peran sebagai Kota Wisata. Saat pandemi Covid-19,
                      unit usaha pariwisata mengalami penurunan. Padahal sektor
                      pariwisata memberikan kontribusi tinggi terhadap PAD Kota
                      Batu melalui pajak hiburan, hotel, dan restoran, sehingga
                      sektor ini memerlukan upaya pemulihan. Salah satu faktor
                      penting dalam pemulihan sektor pariwisata adalah
                      pemanfaatan TIK. TIK merupakan salah statu faktor
                      penunjang kemajuan usaha pariwisata dengan segala
                      kemudahan yang diberikan. Maka dari itu, perlu diketahui
                      sejauh mana pemanfaatan TIK pada Unit Usaha Pariwisata di
                      Kota Batu.
                    </p>
                    <p class="text-justify" style="text-align: justify">
                      Tujuan penelitian ini untuk mengetahui karakteristik dan
                      menganalisis tingkat kesiapan pemanfaatan TIK dari tiga
                      unit usaha pariwisata skala mikro dan kecil di Kota Batu
                      yang meliputi Jasa Transportasi Wisata, Jasa Makanan
                      Minuman, dan Penyediaan Akomodasi dalam menerapkan Smart
                      Tourism Destination serta mengetahui faktor-faktor yang
                      memengaruhi kesiapannya. Model terdiri dari enam dimensi,
                      yaitu Infrastruktur dan Konektivitas, Penggunaan TIK,
                      Sumber Daya Manusia, Manajemen Organisasi, Ketersediaan
                      Prasarana TIK, dan Motivasi Penggunaan TIK. Hasil
                      penelitian divisualisasikan dalam beberapa chart maupun
                      diagram yang dapat memudahkan pembaca untuk mengetahui
                      hasil penelitian. Selain itu, ditampilkan hasil
                      visualisasi data di setiap blok pertanyaan untuk
                      mengeksplor lebih jauh hasil sebaran data dari responden
                      Unit Usaha Pariwisata di Kota Batu, Jawa Timur.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- About Sanur End -->

            <!-- About Sentimen -->
            <!-- <div class="container-fluid py-2 my-2">
              <div class="container pt-5">
                <div class="row g-5">
                  <div
                    class="col-lg-7 col-md-6 col-sm-12 wow fadeIn"
                    data-wow-delay=".5s"
                  >
                    <h5 class="text-primary">Tentang</h5>
                    <h1 class="mb-4">Analisis Sentimen</h1>
                    <p>
                      Analisis sentimen adalah proses menggunakan teknik
                      komputasional atau statistikal untuk mengevaluasi dan
                      menentukan sentimen, opini, atau sikap dari suatu teks.
                      Tujuannya adalah untuk memahami perasaan atau pandangan
                      yang terkandung dalam teks, baik itu dalam bentuk ulasan
                      produk, tweet, artikel berita, atau entri blog. Analisis
                      sentimen seringkali diterapkan dalam konteks bisnis dan
                      pemasaran untuk memahami umpan balik pelanggan, pemantauan
                      merek, dan tren pasar.
                    </p>
                    <p class="mb-4">
                      Website ini menampilkan analisis sentimen tentang Pantai
                      Sanur yang menampilkan beberapa aspek yaitu aspek
                      attractions, amenities, access, price, da no aspect.
                    </p>
                  </div>
                  <div
                    class="col-lg-5 col-md-6 col-sm-12 wow fadeIn"
                    data-wow-delay=".3s"
                  >
                    <div class="h-100 position-relative">
                      <img
                        src="../static/img/sanurkotak1.jpg"
                        class="img-fluid w-75 rounded"
                        alt=""
                        style="margin-bottom: 25%"
                      />
                      <div
                        class="position-absolute w-75"
                        style="top: 25%; left: 25%"
                      >
                        <img
                          src="../static/img/sanurkotak2.jpg"
                          class="img-fluid w-100 rounded"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- About Sentimen End -->

            <!-- Aspek Start -->
            <div class="container-fluid services py-5 mb-2">
              <div class="container">
                <div
                  class="text-center mx-auto pb-5 mb-0 wow fadeIn"
                  data-wow-delay=".3s"
                  style="max-width: 600px"
                >
                  <h5 class="text-primary">Tujuan Penelitian</h5>
                  <h1 class="text-primary">Tiga Tujuan Utama Penelitian</h1>
                </div>
                <div class="row g-5 services-inner">
                  <div
                    class="col-md-6 col-lg-4 wow fadeIn"
                    data-wow-delay=".3s"
                  >
                    <div class="services-item bg-light">
                      <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                          <i
                            class="fa fa-search-plus fa-7x mb-4 text-primary"
                          ></i>
                          <h4 class="mb-3">Karakteristik</h4>
                          <p class="mb-4">
                            Mengetahui karakteristik tiga unit usaha pariwisata
                            skala mikro dan kecil di Kota Batu yang meliputi
                            Jasa Transportasi Wisata, Jasa Makanan dan Minuman,
                            serta Penyediaan Akomodasi dalam menerapkan Smart
                            Tourism Destination.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-6 col-lg-4 wow fadeIn"
                    data-wow-delay=".5s"
                  >
                    <div class="services-item bg-light">
                      <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                          <i
                            class="fa fa-chart-bar fa-7x mb-4 text-primary"
                          ></i>
                          <h4 class="mb-3">Tingkat Kesiapan</h4>
                          <p class="mb-4">
                            Menganalisis tingkat kesiapan pemanfaatan TIK dari
                            tiga unit usaha pariwisata skala mikro dan kecil di
                            Kota Batu yang meliputi Jasa Transportasi Wisata,
                            Jasa Makanan dan Minuman, serta Penyediaan Akomodasi
                            dalam menerapkan Smart Tourism Destination.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-6 col-lg-4 wow fadeIn"
                    data-wow-delay=".7s"
                  >
                    <div class="services-item bg-light">
                      <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                          <i
                            class="fa fa-external-link-alt fa-7x mb-4 text-primary"
                          ></i>
                          <h4 class="mb-3">Faktor-Faktor</h4>
                          <p class="mb-4">
                            Menganalisis faktor-faktor yang memengaruhi kesiapan
                            unit usaha pariwisata skala mikro dan kecil di Kota
                            Batu dalam pemanfaatan TIK.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid services py-5 mb-5">
              <div class="container">
                <div
                  class="text-center mx-auto pb-0 wow fadeIn"
                  data-wow-delay=".3s"
                  style="max-width: 600px"
                >
                  <h5 class="text-primary">Tujuan Pertama</h5>
                  <h1 class="text-primary">Karakteristik Unit Usaha</h1>
                </div>
                <div class="container-fluid py-2 my-2 mt-0">
                  <div class="container pt-5">
                    <div class="row g-5">
                      <div
                        class="col-lg-7 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".5s"
                      >
                        <h3 class="text-primary pb-2">
                          1. Proporsi Jenis Kelamin dan Usia Pemilik Usaha
                        </h3>
                        <!-- <h1 class="mb-4 text-primary">Penelitian Modul 1</h1> -->
                        <p
                          class="text-justify pt-3"
                          style="text-align: justify"
                        >
                          Grafik menunjukkan bahwa pemilik atau pengelola unit
                          usaha pariwisata di Kota Batu didominasi oleh mereka
                          yang berada pada usia di atas 60 tahun, yaitu sebesar
                          21.83% dari total pemilik atau pengelola unit usaha
                          pariwisata di Kota Batu, dimana perempuan mendominasi
                          dengan persentase sebesar 11.07% dan laki-laki sebesar
                          10.76%. Setelah itu disusul oleh pemilik atau pengelola
                          pada interval usia 20 - 24 tahun sebesar 10.5%, dan
                          selanjutnya interval usia 35 - 39 tahun sebesar
                          10.4%. Jika dilihat berdasarkan jenis kelamin,
                          terlihat bahwa jenis kelamin pemilik atau pengelola
                          unit usaha pariwisata di Kota Batu hampir seimbang
                          antara laki-laki dan perempuan.
                        </p>
                      </div>
                      <div
                        class="col-lg-5 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".3s"
                      >
                        <div class="h-100 position-relative">
                          <div class="chart-hasil">
                            <canvas id="myChart"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid py-2 my-2 mt-0">
                  <div class="container pt-5">
                    <div class="row g-5">
                      <div
                        class="col-lg-5 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".3s"
                      >
                        <div class="h-100 position-relative">
                          <div class="chart-hasil">
                            <canvas id="myChart-pendidikan"></canvas>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-lg-7 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".5s"
                      >
                        <h3 class="text-primary pb-2">
                          2. Jumlah Pemilik Usaha Berdasarkan Jenis Kelamin dan
                          Tingkat Pendidikan
                        </h3>
                        <!-- <h1 class="mb-4 text-primary">Penelitian Modul 1</h1> -->
                        <p
                          class="text-justify pt-3"
                          style="text-align: justify"
                        >
                          Grafik menunjukkan bahwa pemilik atau pengelola unit
                          usaha pariwisata di Kota Batu didominasi oleh mereka
                          yang memiliki pendidikan terakhir yaitu D1/D2/D3
                          sebanyak 548 diantaranya 296 laki-laki dan 252 perempuan.
                          Setelah itu disusul oleh pemilik atau pengelola usaha dengan
                          tingkat pendidikan SMA/SMK/Sederajat sebanyak 545 diantaranya 
                          286 laki-laki dan 259 perempuan. Jika dilihat berdasarkan tingkat 
                          pendidikan terlihat bahwa persebaran tingkat pendidikannya 
                          cukup merata dari berbagai jenjang.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid py-2 my-2 mt-0">
                  <div class="container pt-5">
                    <div class="row g-5">
                      <div
                        class="col-lg-7 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".5s"
                      >
                        <h3 class="text-primary pb-2">
                          3. Proporsi Skala Unit Usaha
                        </h3>
                        <!-- <h1 class="mb-4 text-primary">Penelitian Modul 1</h1> -->
                        <p
                          class="text-justify pt-3"
                          style="text-align: justify"
                        >
                        Berdasarkan total sampel yang terpilih sebanyak 3703 unit usaha 
                        pariwisata, terdapat 2883 unit usaha atau sebesar 77.86% dari total 
                        sampel unit usaha pariwisata berskala Kecil, artinya 2883 unit usaha 
                        pariwisata yang terpilih sebagai sampel memiliki jumlah tenaga kerja
                        5 - 19 pekerja. Selain itu, terdapat 820 unit usaha pariwisata atau sebesar 
                        22.14% yang unit usaha pariwisata berskala mikro, artinya 820 unit usaha 
                        pariwisata yang terpilih sebagai sampel memiliki jumlah tenaga kerja
                        1 - 14 pekerja. Dari hasil tersebut, 
                        dapat dianalisis bahwa terjadi ketimpangan pada kedua skala unit usaha 
                        pariwisata tersebut. 
                        
                        </p>
                      </div>
                      <div
                        class="col-lg-5 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".3s"
                      >
                        <div class="h-100 position-relative">
                          <div class="chart-hasil">
                            <canvas id="myChart-skala"></canvas>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
               
              </div>
              <a style="margin-left: 18%;"
              href="/blok-iii"
              class="btn btn-secondary text-white px-5 py-3 rounded-pill ml-4"
              >Selengkapnya</a
            >
              <div class="container mt-5">
                <div
                  class="text-center mx-auto pb-0 wow fadeIn"
                  data-wow-delay=".3s"
                  style="max-width: 600px"
                >
                  <h5 class="text-primary">Tujuan Kedua</h5>
                  <h1 class="text-primary">Tingkat Kesiapan Unit Usaha</h1>
                </div>
                <div class="container-fluid py-2 my-2 mt-0">
                  <div class="container pt-5">
                    <div class="row g-5">
                      <div
                        class="col-lg-5 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".3s"
                      >
                        <div class="h-100 position-relative">
                          <div class="chart-hasil">
                            <canvas id="myChart-kesiapan"></canvas>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-lg-7 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".5s"
                      >
                        <h3 class="text-primary pb-2">
                          Tingkat Kesiapan Unit Usaha Pariwisata dalam
                          Pemanfaatan TIK
                        </h3>
                        <!-- <h1 class="mb-4 text-primary">Penelitian Modul 1</h1> -->
                        <p
                          class="text-justify pt-3"
                          style="text-align: justify"
                        >
                        Secara umum, 25.35% unit usaha pariwisata di Kota Batu 
                        sangat tidak siap untuk memanfaatkan TIK dalam kegiatan 
                        usahanya. Sebanyak 24.92% dikategorikan tidak siap dalam 
                        pemanfaatan TIK. Sebanyak 25.04% unit usaha pariwisata 
                        tergolong siap untuk memanfaatkan TIK, dan sekitar 24.69% 
                        unit usaha dikategorikan sangat siap untuk memanfaatkan 
                        teknologi informasi dan komunikasi dalam kegiatan usahanya.
                        Meskipun tidak terjadi perbedaan cukup signifikan terkait
                        kategori kesiapannya, perlu menjadi perhatian bahwa persentase
                        sangat tidak siap memiliki persentase tertinggi yaitu 26.14%
                        sehingga perlu menjadi evaluasi bagi pemangku kepentingan terkait
                        untuk menunjang kesiapan pemanfaatan TIK dalam Unit Usaha Pariwisata.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container mt-5">
                <div
                  class="text-center mx-auto pb-0 wow fadeIn"
                  data-wow-delay=".3s"
                  style="max-width: 600px"
                >
                  <h5 class="text-primary">Tujuan Ketiga</h5>
                  <h1 class="text-primary">Faktor Pemanfaatan TIK</h1>
                </div>
                <div class="container-fluid py-2 my-2 mt-0">
                  <div class="container pt-5">
                    <div class="row g-5">
                      <div
                        class="col-lg-7 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".5s"
                      >
                        <h3 class="text-primary pb-2">
                          Jumlah Pemilik Unit Usaha Berdasarkan Pemanfaatan TIK
                          dan Skala Usaha
                        </h3>
                        <!-- <h1 class="mb-4 text-primary">Penelitian Modul 1</h1> -->
                        <p
                          class="text-justify pt-3"
                          style="text-align: justify"
                        >
                          Hasil pengolahan data menunjukkan bahwa faktor yang paling berpengaruh
                          dalam pemanfaatan TIK pada Unit Usaha Pariwista adalah <strong>Skala Usaha</strong>
                          unit usaha tersebut. Dari grafik terlihat bahwa skala usaha kecil memiliki
                          jumlah yang sudah memanfaatkan TIK lebih tinggi dari pada usaha skala mikro yaitu 
                          1399 berbanding 410 unit usaha. Meskipun demikian, tetap menjadi perhatian bahwa
                          jumlah unit usaha yang tidak memanfaatkan TIK masih tinggi bahkan pada skala usaha
                          kecil lebih tinggi yang tidak memanfaatkan TIK. Hal ini menjadi perhatian dalam evaluasi
                          unit usaha untuk menyiapkan dari berbagai aspek dalam menyiapkan pemanfaatan TIK pada unit usaha khususnya di sektor pariwisata.
                        </p>
                      </div>
                      <div
                        class="col-lg-5 col-md-6 col-sm-12 wow fadeIn"
                        data-wow-delay=".3s"
                      >
                        <div class="h-100 position-relative">
                          <div class="chart-hasil">
                            <canvas id="myChart-faktor"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Aspek End -->

            <!-- Tim Start -->
            <div class="container-fluid services py-5 mb-5">
              <div class="container">
                <div
                  class="text-center mx-auto pb-5 wow fadeIn"
                  data-wow-delay=".3s"
                  style="max-width: 600px"
                >
                  <h5 class="text-primary">Visualisasi Data</h5>
                  <h1 class="text-primary">
                    Visualisasi Hasil Setiap Blok Pertanyaan
                  </h1>
                </div>
                <div class="row g-5 services-inner">
                  <div
                    class="col-md-6 col-lg-4 wow fadeIn"
                    data-wow-delay=".3s"
                  >
                    <div class="services-item bg-light">
                      <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                          <i
                            class="fa fa-user-edit fa-7x mb-4 text-primary"
                          ></i>
                          <h4 class="mb-3">BLOK III</h4>
                          <p class="mb-4">
                            Blok III mencakup terkait keterangan umum dari
                            pemilik usaha dan usaha yang dimilikinya.
                            Keterangan-keterangan umum yang diperlukan seperti
                            nama pemilik usaha, umur, jenis kelamin, pendidikan
                            terakhir, kewarganegaraan, dan hal-hal lainnya.
                          </p>
                          <a
                            href="/blok-iii"
                            class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                            >Lihat Visualisasi</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-6 col-lg-4 wow fadeIn"
                    data-wow-delay=".5s"
                  >
                    <div class="services-item bg-light">
                      <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                          <i class="fa fa-laptop fa-7x mb-4 text-primary"></i>
                          <h4 class="mb-3">BLOK IV</h4>
                          <p class="mb-4">
                            Blok IV bertujuan untuk memperoleh informasi
                            mengenai pemanfaatan TIK pada usaha pariwisata.
                            Pemanfaatan TIK dibatasi pada adanya penggunaan
                            perangkat elektronik dan/atau jaringan internet,
                            misalnya penggunaan media sosial, marketplace,
                            e-wallet, dll.
                          </p>
                          <a
                            href="/blok-iv"
                            class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                            >Lihat Visualisasi</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-6 col-lg-4 wow fadeIn"
                    data-wow-delay=".3s"
                  >
                    <div class="services-item bg-light">
                      <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                          <i
                            class="fas fa-user-secret fa-7x mb-4 text-primary"
                          ></i>
                          <h4 class="mb-3">BLOK V</h4>
                          <p class="mb-4">
                            Blok V berhubungan dengan penilaian kesiapan
                            pemanfaatan TIK dari sisi sumber daya manusia.
                            Penilaian pada blok ini memberikan gambaran mengenai
                            kemampuan individu dalam memanfaatkan TIK seperti
                            mencari, mengakses, memanajemen, menganalisa, dan
                            menggunakan informasi.
                          </p>
                          <a
                            href="/blok-v"
                            class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                            >Lihat Visualisasi</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-6 col-lg-4 wow fadeIn"
                    data-wow-delay=".7s"
                  >
                    <div class="services-item bg-light">
                      <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                          <i
                            class="fa fa-sort-amount-up-alt fa-7x mb-4 text-primary"
                          ></i>
                          <h4 class="mb-3">BLOK VI</h4>
                          <p class="mb-4">
                            Blok VI mencakup tentang kesiapan unit usaha dalam
                            menerima dan memanfaatkan TIK. Terdapat 9 pertanyaan
                            yang digunakan utuk mengukur tingkat kesiapan dari
                            beberapa aspek. Nantinya akan diperoleh nilai indeks
                            kesiapan dari Unit Usaha.
                          </p>
                          <a
                            href="/blok-vi"
                            class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                            >Lihat Visualisasi</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-6 col-lg-4 wow fadeIn"
                    data-wow-delay=".5s"
                  >
                    <div class="services-item bg-light">
                      <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                          <i
                            class="fa fa-external-link-alt fa-7x mb-4 text-primary"
                          ></i>
                          <h4 class="mb-3">Blok VII</h4>
                          <p class="mb-4">
                            Blok VII berhubungan dengan penilaian kesiapan
                            pemanfaatan TIK dari sisi lingkungan di luar
                            organisasi, misalnya, pemerintah, pelanggan, dan
                            pemasok. Terdapat 9 butir pertanyaan dari berbagai
                            aspek yang nantinya akan dihitung indeks kesiapan
                            Unit Usaha.
                          </p>
                          <a
                            href="/blok-vii"
                            class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                            >Lihat Visualisasi</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"
      ><i class="fa fa-arrow-up text-white"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/karakteristik.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hasil.js') }}"></script>
    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
